
@import './partials/vars' ;
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '/node_modules/flag-icons/css/flag-icons.min.css';
@import '/node_modules//@fontsource/roboto/400.css' ;
@import '/node_modules//@fontsource/roboto/500.css' ;
@import '/node_modules//@fontsource/roboto/700.css' ;

body{
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}



img{
  object-fit: cover;
}

ul{
  list-style: none;
}

a{
  color: darken($text-color, $amount: 20) ;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}